#quote-box {
    height: 35rem;
    width: 100vw;
}

#quote {
    display: flex;
    flex-direction: column;
}

.up {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.imagen-contenedor {
    flex: 1;
    width: 20%;
    overflow: clip;
}

img {
    height: 500px;
    width: 500px;
    object-fit: contain;
}

.imagen-contenedor, .textos {
    height: 25rem;
}

.caritas {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex: 2;
    font-size: 1.5rem;
    color: #fff;
    width: 80%;
    padding: 1em;
    padding-bottom: 0;
}

#text {
    font-size: 3em;
    white-space: normal;     /* Permite saltos de línea automáticos */
    word-wrap: break-word;   /* Rompe palabras largas si es necesario */
    text-align: left;        /* Alinea el texto a la izquierda */
    margin: 0;
    text-overflow: ellipsis;
}

#author {
    text-align: left; 
    margin: 0;
}